# API Framework & Server
fastapi==0.115.8
uvicorn==0.34.0
pydantic==2.11.7

# GCP & AI
google-cloud-aiplatform==1.117.0
langchain==0.3.27
langchain-google-vertexai==2.1.2

# PDF Generation
reportlab==4.4.10

# Environment Variable Management
python-dotenv==1.1.1
